body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.container {
    width: 88%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1, h2 {
    color: #333;

}


.section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}


button:hover {
    background: #555;
}


#alarmInfo {
    margin-top: 20px;
    padding: 10px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    color: #721c24;
}


#sensors li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

